/* CSS3 */
@import './modules/main.css';
@import './modules/footer.css';

@font-face{
  font-family: 'Verdana'; 
  src: url('../assets/fonts/18028.ttf'); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.png');
  position: relative;
  overflow: hidden;
}

body.verdana, body.verdana main .submit {
  font-family: 'Verdana', monospace;
}

body.mont, body.mont main .submit { 
  font-family: 'Montserrat', sans-serif;
}

