main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 38px);
}

main .form-container{
  width: 630px;
  height: 300px;
  background-color: #000;
  background-image: radial-gradient(#fbfbfb38 0%, transparent 85%);
  position: relative;
  border-radius: 15px;
}

main .form-container::before{
  content: "";
  width: calc( 100% + 26px );
  height: calc(100% + 26px );
  background-color: #3d3d3d;
  opacity: .1;
  border-radius: 15px;

  position: absolute;
  left: -13px;
  top: -13px;
}

main form{
  width: 100%;
  height: 100%;
  color: #fff;
}

main .form__title {
  height: 80px;
  display: flex;
  align-items: center;
}

main .form__title h3 {
  font-size: 25px;
  font-weight: 400;
  padding-left: 40px;
}

main .form__divider{
  display: block;
  width: 100%;
  height: 1px;
  box-shadow: inset 0px 1px 5px rgb(154 147 140 / 50%), 0px 1px 5px rgb(255 255 255);
}

main .form__inputs-container{
  padding: 40px 0 35px 40px;
  display: flex;
}

main .form__inputs-container label{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 35px;
}

main .form__inputs-container label span{
  font-size: 15px;
  margin-bottom: 20px;
}

main .form__inputs-container input{
  font-size: 20px;
  font-family: 'Verdana', monospace;
  color: #000;
  width: 200px;
  padding: 10px 13px;
  border-radius: 8px;
  border-color: transparent;
  position: relative;
  z-index: 15;
}

main .form__inputs-container input:focus:invalid{
  box-shadow: 0 0 12px 3px #c94d27;
}

main .form__inputs-container input[type="text"], main .form__inputs-container input[type="text"]:focus{
  background: url(../../img/user-icon.png) no-repeat 95% 50%;
  background-color: #efefef;
}

main .form__inputs-container input[type="password"], main .form__inputs-container input[type="password"]:focus{
  background: url(../../img/pass-icon.png) no-repeat 95% 50%;
  background-color: #efefef;
}

main .form__inputs-container input:focus{
  outline-color: transparent;
  outline-style: none;
  outline-width: 0px;
  box-shadow: 0 0 12px 3px #969696;
}

main .form__footer{
  display: flex;
  padding: 12px 0 12px 40px;;
}

main .form__footer input[type=checkbox] {
    display: none;
}

main .form__footer label{
  display: flex;
  align-items: center;
  margin-right: 65px;
  font-size: 15px;
}

main .form__footer label::before{
  content: "";
  border-radius: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  font-size: 13px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgb(255, 255, 255); 
}

main .form__footer input[type=checkbox]:checked + label:before {
	content: "\2022";
	font-size: 23px;
	color: #000;
	text-align: center;
  line-height: 15px;
}

main .form__footer a{
  text-decoration: none;
  color:#fff;
  cursor: pointer;
  position: relative;
  z-index: 15;
}


main .submit {
  font-family: Verdana, sans-serif;
  width: 120px;
  height: 100%;
  background-color: #33b0d1;
  border: none;
  position: absolute;
  right: -1px;
  top: 0;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

main .submit i{
  color: #fff;
  font-size: 140px;
  font-weight: 900;
}

main .submit span{
  position: relative;
  display: block;
  margin-top: 50px;
  font-size: 32.5px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff;
}

main .submit:focus{
  outline-color: transparent;
  outline-width: 0;
  box-shadow: inset 0 0 5px 2px #fff;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  text-transform: uppercase;
  letter-spacing: .05em;
  border-radius: 4px;
}

.notification .close-btn{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  left: 5px;
}

.notification .close-btn::before{
  font-family: FontAwesome;
  content: "\f00d";
  position: absolute;
  top: 5px;
  left: 5px;
}

.notification.hidden {
  transform: translateX(120%);
  opacity: 0;
  transition: all .3s ease;
}

.notification.show{
  transform: translateX(0);
  opacity: 1;
  transition: all .3s ease;
}

.notification.succes{
  border: 1px solid #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
}

.notification.fail{
  background-color: #cf765f;
  border: 1px solid rgb(228, 8, 8);
  color: rgb(228, 8, 8);
}

@media (max-width: 630px){

  main .form__title h3{
    padding-left: 20px;
  }

  main .form-container {
      width: 100%;
      height: auto;
  }

  main .form-container::before{
    width: 0;
    height: 0;
  }

  main .form__inputs-container{
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
  }

  main .form__inputs-container label{
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

  main .form__inputs-container input{
    width: 100%;
  }

  main .form__footer{
    flex-direction: column;
    padding: 10px 20px;
  }

  main .form__footer label{
    margin-right: 0;
  }

  main .form__footer a {
    padding: 10px 0;
  }

  main .submit {
    position: relative;
    right: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  main .submit i{
    font-size: 50px;
  }

  main .submit span{
    margin-top: 0;
  }

}