main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main .form-container{
  width: 630px;
  height: 300px;
  background-color: #000;
  position: relative;
  border-radius: 15px;background: rgba(255, 255, 255, 1.0);
  background: -webkit-radial-gradient(center, rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 1.0));
  background: -moz-radial-gradient(center, rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 1.0));
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 1.0));

}

main .form-container::before{
  content: "";
  width: calc( 100% + 26px );
  height: calc(100% + 26px );
  background-color: #3d3d3d;
  opacity: .1;
  border-radius: 15px;

  position: absolute;
  left: -13px;
  top: -13px;
}

main form{
  width: 100%;
  height: 100%;
  color: #fff;
}

main .form__title {
  height: 80px;
  display: flex;
  align-items: center;
}

main .form__title h3 {
  font-size: 25px;
  font-weight: 400;
  padding-left: 40px;
}
